/* MOBILE VEIW */
@media (max-width: 500px) {
  div:nth-child(1){
  height: 75px; /*Set the height of child number 1 within the divs, this applies to A */
  grid-column-end: span 2; /*spans the width of the page because of how the template columns were set up */
  }
  div:nth-child(2) {
  height: 150px; /*Set the height of child number 2 within the divs, this applies to B */
  grid-column-end: span 2; /* Same as 15 */
  }
  div:nth-child(3), div:nth-child(4){
  height: 125px; /*Set the height of child number 3 and 4 within the divs, this applies to C and D */
  grid-column-end: span 2; /*Spanning the width of the page */
  }
  div:nth-child(5) {
  height: 250px;
  width: 250px; 
  }
  div:nth-child(6){
  height: 250px;
  width: 250px; 
  }
  div:nth-child(7) {
  height: 250px;
  width: 250px; 
  }
  div:nth-child(8){
  height: 250px;
  width: 250px; 
  }
  div:nth-child(9){
  height: 80px;
  grid-column-end: span 2;
  }
}

/* TABLET VIEW */
@media (min-width: 500px) {
  body {
    width: 600px;
    height: 600px;
    grid-template-columns: 310px 160px 160px;
    grid-template-rows: 210px 210px 210px;
  }
  div:nth-child(1) {
    height: 200px;
    width: 300px;
    grid-row: 1/2;
  }
  div:nth-child(2) {
    height: 200px;
    width: 150px;
    grid-column: 2/3
  }
  div:nth-child(3) {
    height: 200px;
    width: 150px;
    grid-column: 3/4;
  }
  div:nth-child(4) {
    height: 200px;
    width: 300px;;
  }
  div:nth-child(5) {
    height: 200px;
    width: 150px;
    grid-column: 2/3;
  }
  div:nth-child(6) {
    height: 200px;
    width: 150px;
    grid-column: 3/4;
  }
  div:nth-child(7) {
    height: 200px;
    width: 300px;
  }
  div:nth-child(8) {
    height: 200px;
    width: 150px;
    grid-column: 2/3;
  }
  div:nth-child(9) {
    height: 200px;
    width: 150px;
    grid-column: 3/4;
  }
}

/* DESKTOP VIEW */
@media(min-width: 830px) {
  body {
  width: 960px;
  display: grid;
  grid-template-columns: 210px 200px 200px 200px 200px 200px;
  grid-template-rows: 110px 210px 260px 160px;
  }
  
  div:nth-child(1){
    height: 100px;
    width: 1000px;
    grid-row: 1/2;
    grid-column: 1/5;
  }
  div:nth-child(2){
    height: 630px;
    width: 200px;
    grid-row: 2/3;
    grid-column: 1/5;
  }
  div:nth-child(3){
    height: 200px;
    width: 390px;
    grid-column: 2/4;
    grid-row: 2/3;
  }
  div:nth-child(4){
    height: 200px;
    width: 390px;
    grid-column: 4/6;
    grid-row: 2/3;
  }
  div:nth-child(5){
    height: 250px;
    width: 190px;
    grid-column: 2/3;
  }
  div:nth-child(6){
    height: 250px;
    width: 190px;
    grid-column: 3/4;
  }
  div:nth-child(7){
    height: 250px;
    width: 190px;
    grid-column: 4/5;
  }
  div:nth-child(8) {
    height: 250px;
    width: 190px;
    grid-column: 5/6;
  }
  div:nth-child(9) {
    height: 160px;
    width: 790px;
    grid-row: 4/5;
    grid-column: 2/6;
  }
}
